$color-white: #fff;
$color-black: #000;
$color-teal-1: #f0fffb;
$color-teal-2: #defff8;
$color-teal-3: #b3fcef;
$color-teal-4: #84f0e0;
$color-teal-5: #59e3d3;
$color-teal-6: #30d5c8;
$color-teal-7: #20b0a9;
$color-teal-8: #128a88;
$color-teal-9: #086263;
$color-teal-10: #043a3d;